/* styling for the travel site */
#header{
  color: red
}

.ireland{
  color: green
}

/* styling for the index site */
#content {
  width: 600px;
  background: #fff; /* fff is white */
  border: 2px solid fuchsia;
  padding: 20px; /* Adds 20px of space to all sides */
  margin: 20px auto;  /* Adds 20px to the top & bottom & centers left/right */
}

img{
  width:100px;
  float:left;
  margin:5px;
}

#border {
  height: 20px;
  width: 600px;
  margin: auto auto;
  background-color:#336699;
  font:12px;
  color:white;
  padding:20px;
  border:10px solid yellow;
}
